.deliveryTop{
   font-size: 16px;
   font-weight: 700;
   line-height: 22px;
   margin-top: 40px;
   max-width: 820px;
}
.delivery__items{
   margin-top: 40px;
   max-width: 815px;
   margin-bottom: 100px;
}
.delivery__item{
   margin-bottom: 40px;
}
.delivery__item p{
   margin-top: 25px;
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
}
.delivery__item h3, .delivery__item span{
   font-size: 16px;
   font-weight: 600;
   line-height: 22px;
}
.delivery__item h3{
   color: #3E64FF;
}
.delivery__item span{
   color: #ED6663;
}


@media(max-width: 750px){
   .delivery__items{
      margin-bottom: 50px;
      margin-top: 25px;
   }
   .delivery__item p, .deliveryTop{
      font-size: 14px;
      margin-top: 15px;
   }
   .delivery__item{
      margin-bottom: 25px;
   }
}