.actions1__items{
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 100px;
}
.actions1__item{
   width: 32.5%;
   margin-bottom: 60px;
}
.actions1__itemImg{
   cursor: pointer;
   transition: transform 0.1s linear;
}
.actions1__itemImg img{
   width: 100%;
   height: auto;
   transition: transform 0.1s linear;
}
.actions1__itemDate{
   margin-top: 15px;
   display: flex;
   align-items: center;
}
.actions1__itemDate span{
   margin-left: 10px;
   font-size: 14px;
   font-weight: 600;
   line-height: 20px;
}
.actions1__itemText{
   margin-top: 10px;
}
.actions1__itemText p{
   font-size: 16px;
   font-weight: 700;
   line-height: 19px;
}
.actions1__clearFlex{
   width: 32.5%;
}
.actions1__TopMin{
   display: none;
   margin-top: 15px;
   padding: 0 15px;
   background-color: #f5f5f5;
   border-radius: 6px;
   height: 40px;
   width: 100%;
   max-width: 300px;
   justify-content: space-between;
   align-items: center;
}
.actions1__TopMin p{
   font-size: 14px;
   font-weight: 600;
   line-height: 24px;
}


.actions1__itemImg:active img{
   transform: scale(0.9);
}

@media(hover: hover) and (pointer: fine){
   .actions1__itemImg:hover{
      transform: translateY(-5px);
   }
}

@media(max-width: 1023px){
   .actions1__item{
      width: 48%;
   }
   .topCategoryItem:nth-child(n+8){
      display: none;
   }
   .topCategoryItems .topCategoryItem__moreBtn{
      display: flex;
   }
}
@media(max-width: 950px){
   .topCategoryItem:nth-child(n+6){
      display: none;
   }
   .topCategoryItems .topCategoryItem__moreBtn{
      display: flex;
   }
}
@media(max-width: 750px){
   .actions1__item{
      width: 100%;
      margin-bottom: 25px;
   }
   .actions1__items{
      margin-bottom: 50px;
      margin-top: 25px;
   }
   .topCategoryItems{
      display: none !important;
   }
   .actions1__TopMin{
      display: flex;
   }
}
