.favorites__top{
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.favorites__topFilter{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 240px;
   height: 40px;
   padding: 0 15px;
   background-color: #f5f5f5;
   border-radius: 6px;
   cursor: pointer;
   transition: transform 0.1s linear;
}
.favorites__topFilter p{
   font-size: 14px;
   font-weight: 600;
   line-height: 24px;
}
.favorites__topBtns{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.favorites__topBtn{
   display: flex;
   align-items: center;
   height: 40px;
   padding: 0 25px;
   background-color: #f5f5f5;
   border-radius: 6px;
   cursor: pointer;
   transition: transform 0.1s linear;
}
.favorites__topBtn:first-child{
   margin-right: 25px;
}
.favorites__topBtn p{
   font-size: 14px;
   font-weight: 600;
   line-height: 20px;
   margin-left: 10px;
}
.favorites__items{
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 100px;
   flex-wrap: wrap;
}
.favorites__item{
   width: 15%;
   margin-bottom: 60px;
}
.clearFlex{
   width: 15%;
}
.favorites__itemImg img{
   width: 100%;
   height: auto;
}
.favorites__itemImg{
   position: relative;
}
.favorites__itemImgBtns{
   position: absolute;
   top:0;
   right: 0;
}
.favorites__itemImgBtn{
   width: 34px;
   height: 34px;
   background-color: #f5f5f5;
   border-radius: 50%;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform 0.1s linear;
}
.favorites__itemImgBtn:first-child{
   margin-bottom: 10px;
}

.favorites__item p{
   font-size: 16px;
   font-weight: 500;
   line-height: 19px;
   margin-top: 10px;
   height: 80px;
}
.favorites__itemPrice{
   display: flex;
   align-items: center;
   margin-top: 10px;
}
.favorites__itemPrice p{
   font-size: 20px;
   font-weight: 700;
   line-height: 26px;
   margin-top: 0;
   height: unset;
}
.favorites__itemPrice span{
   margin-left: 8px;
   color: #ED6663;
   text-decoration: line-through;
   font-size: 14px;
   font-weight: 600;
   line-height: 26px;
}
.favorites__itemBtns{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 12px;
}
.btns__amount button{
   width: 24px;
   height: 24px;
   border-radius: 50%;
   border: none;
   background-color: #F5F5F5;
   cursor: pointer;
   font-size: 18px;
   font-weight: 500;
   color: #8f8f8f;
   transition: transform 0.1s linear;
}
.btns__amount span{
   font-size: 14px;
   font-weight: 600;
   margin: 0 3px;
}
.btns__inCart button{
   height: 40px;
   padding: 0 24px;
   background-color: #3E64FF;
   border-radius: 6px;
   border:none;
   cursor: pointer;
   font-weight: 600;
   font-size: 14px;
   color: #fff;
   transition: transform 0.1s linear;
}
.favorites__item .btns__bottom{
   margin-top: 10px;
   display: none;
}
.favorites__item .btns__fastBuy button{
   height: 33px;
   width: 100%;
   border: none;
   border-radius: 6px;
   background-color: #f5f5f5;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   color: #3E64FF;
}



.btns__amount button:active, .btns__inCart button:active, .favorites__itemImgBtn:active, .favorites__topFilter:active, .favorites__topBtn:active{
   transform: scale(0.9);
}


@media(hover: hover) and (pointer: fine){
   .btns__amount button:hover, .favorites__itemImgBtn:hover{
      background-color: #3E64FF;
   }
   .btns__amount button:hover{
      color: #fff;
   }
   .btns__inCart button:hover{
      background-color: #1E90FF;
   }
   .favorites__itemImgBtn:hover svg path{
      fill: #fff;
   }
   .favorites__topFilter:hover, .favorites__topBtn:hover{
      color: #8f8f8f;
   }
   .favorites__topBtn:hover svg path{
      fill: #1E90FF;
   }
}


@media(max-width: 1550px){
   .favorites__item, .clearFlex{
      width: 19%;
   }
}
@media(max-width: 1250px){
   .favorites__item, .clearFlex{
      width: 24%;
   }
}
@media(max-width: 900px){
   .favorites__item, .clearFlex{
      width: 32.3%;
   }
}
@media(max-width: 750px){
   .favorites__items{
      margin-bottom: 0;
   }
   .favorites__top .favorites__topBtns{
      display: none;
   }
   .favorites__topFilter{
      width: 100%;
   }
   .favorites__itemBtns .btns__amount{
      display: none;
   }
   .btns__inCart, .btns__inCart button{
      width: 100%;
   }
   .favorites__item .btns__bottom{
      display: block;
   }
   .favorites__item{
      margin-bottom: 25px;
   }
   .favorites__item p{
      font-size: 14px;
      height: 78px;
      max-height: 78px;
      overflow: hidden;
   }
   .favorites__itemPrice p{
      font-size: 18px;
      height: unset;
      max-height: unset;
   }
   .favorites__itemPrice span{
      font-size: 13px;
      height: unset;
      max-height: unset;
   }
   .favorites__top{
      margin-top: 25px;
   }
   .favorites__topBtns{
      display: block;
      margin-bottom: 50px;
   }
   .favorites__topBtn{
      justify-content: center;
   }
   .favorites__topBtn:first-child{
      margin-right: 0;
      margin-bottom: 15px;
   }
}
@media(max-width: 650px){
   .favorites__item, .clearFlex{
      width: 49%;
   }
}

