.search2__products{
   display: flex;
   flex-wrap: wrap;
   margin: 40px 0;
}
.mainCatalogItem{
   width: 25%;
}


@media(max-width: 1450px){
   .mainCatalogItem{
      width: 33.3%;
   }
}
@media(max-width: 800px){
   .mainCatalogItem{
      width: 50%;
   }
}
@media(max-width: 750px){
   .btns__amount{
      display: none;
   }
   .mainCatalogItem .btns__inCart button{
      font-size: 14px;
      width: 100%;
   }
   .btns__inCart{
      width: 100%;
   }
   .mainCatalogItem .mainCatalogItem__name p{
      font-size: 14px;
   }
}
@media(max-width: 450px){
   .mainCatalogItem .mainCatalogItem__name{
      overflow: hidden;
      height: 77px;
   }
   .search2__products .mainCatalogItem{
      padding: 8px;
   }
}