.catalog1__products{
   display: flex;
   flex-wrap: wrap;
   margin: 40px 0;
}
.mainCatalogItem{
   width: 25%;
}

.selectedFilters{
   display: flex;
   flex-wrap: wrap;
   margin-top: 25px;
}
.selectedFilter{
   padding: 10px 15px;
   border: 1px solid #8f8f8f;
   border-radius: 6px;
   display: flex;
   align-items: center;
   margin-right: 15px;
   margin-bottom: 15px;
}
.selectedFilter svg{
   cursor: pointer;
   transition: transform 0.1s linear;
}
.selectedFilter span:first-child{
   font-size: 12px;
   font-weight: 500;
   color: #8f8f8f;
   margin-right: 8px;
}
.selectedFilter span:nth-child(2){
   font-size: 12px;
   font-weight: 600;
   color: #000;
   margin-right: 8px;
}
.selectedFilter svg:active, .filterBtn1:active, .filterBtn2:active{
   transform: scale(0.9);
}


@media(hover: hover) and (pointer: fine){
   .selectedFilter svg:hover path{
      fill: #3E64FF;
   }
}


@media(max-width: 1450px){
   .mainCatalogItem{
      width: 33.3%;
   }
}
@media(max-width: 1023px){
   .selectedFilters{
      display: none;
   }
   .topCategoryItem:nth-child(n+8){
      display: none;
   }
   .topCategoryItems .topCategoryItem__moreBtn{
      display: flex;
   }
}
@media(max-width: 850px){
   .topCategoryItem:nth-child(n+6){
      display: none;
   }
   .topCategoryItems .topCategoryItem__moreBtn{
      display: flex;
   }
}
@media(max-width: 800px){
   .mainCatalogItem{
      width: 50%;
   }
}
@media(max-width: 750px){
   .btns__amount{
      display: none;
   }
   .mainCatalogItem .btns__inCart button{
      font-size: 14px;
      width: 100%;
   }
   .btns__inCart{
      width: 100%;
   }
}
@media(max-width: 600px){
   .topCategoryItem:nth-child(n+3){
      display: none;
   }
   .topCategoryItems .topCategoryItem__moreBtn{
      display: flex;
   }
}
@media(max-width: 450px){
   .mainCatalogItem .mainCatalogItem__name{
      overflow: hidden;
      height: 77px;
   }
   .catalog1__products .mainCatalogItem{
      padding: 8px;
   }
}