body{
   position: relative;
}
.overlay{
   position: absolute;
   top:0;
   left:0;
   right: 0;
   bottom: 0;
   background-color: #000;
   opacity: 0.5;
   z-index: 10000;
}
.slider{
   margin-top: 40px;
   position: relative;
}
.sliderBg{
   width: 100%;
   height: auto;
   border-radius: 6px;
   border-radius: 6px;
}
.slider__btns{
   display: flex;
   width: fit-content;
   position: absolute;
   bottom: 35px;
   left: 50%;
   transform: translateX(-50%);
}
.slider__btns span{
   width: 12px;
   height: 12px;
   background-color: #fff;
   display: block;
   border-radius: 50%;
   opacity: 0.5;
   margin-right: 15px;
   cursor: pointer;
}
.slider .activeSliderBtn{
   opacity: 1;
}
.slider__btns span:last-child{
   margin-right: 0;
}
.categories, .products, .benefits, .aboutCompany{
   margin-top: 100px;
}
.main__title{
   display: flex;
   align-items: center;
}
.main__title img{
   margin-right: 20px;
}
.main__title h2{
   font-size: 28px;
   font-weight: 700;
}
.categories__items{
   margin-top: 40px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.categories__item{
   width: 24%;
   margin-bottom: 25px;
   position: relative;
   cursor: pointer;
   border-radius: 6px;
   user-select: none;
}
.itemImg{
   width: 100%;
   height: 100%;
   border-radius: 6px;
   filter: brightness(0.6);
}
.item__hover{
   width: 100%;
   height: 100%;
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 6px;
   padding: 0 10px;
}
.item__hover p{
   font-size: 20px;
   font-weight: 800;
   color: #fff;
   margin-top: 10px;
}
.products__items{
   margin-top: 40px;
   display: flex;
   position: relative;
   padding: 0 10px;
   justify-content: space-between;
}
.products__items::before, .products__items::after{
   position: absolute;
   width: 48px;
   top: 40%;
   transform: translateY(-50%);
   height: 48px;
   content: '';
   z-index: 100;
   box-shadow: 0px 22px 60px rgba(0, 0, 0, 0.11), 0px 8.47407px 19.1111px rgba(0, 0, 0, 0.0668148), 0px 1.79259px 4.88889px rgba(0, 0, 0, 0.0431852);
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 50%;
   background-color: #fff;
   cursor: pointer;
}
.products__items::before{
   left: -20px;
   background-image: url(../../img/main/arrowLeft.png);
}
.products__items::after{
   right: -20px;
   background-image: url(../../img/main/arrowRight.png);
}
.products__items .mainCatalogItem{
   min-width: 16.5%;
   width: 16.5%;
}
.promotions{
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
}
.promotions__item{
   width: 49%;
   height: auto;
}
.promotions__item img{
   width: 100%;
   height: 100%;
}
.brands{
   margin-top: 40px;
}
.brands__items{
   margin-top: 40px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.brands__item{
   width: 18%;
   height: auto;
   margin-bottom: 25px;
   cursor: pointer;
   transition: linear transform 0.1s;
}
.brandsArrow{
   transition: linear transform 0.1s;
}
.brands__item img{
   width: 100%;
   height: 100%;
}
.brands__btn button{
   width: 100%;
   height: 48px;
   align-items: center;
   background-color: #F5F5F5;
   border: none;
   border-radius: 6px;
   cursor: pointer;
}
.btn__items{
   display: flex;
   justify-content: center;
}
.btn__items p{
   font-size: 16px;
   font-weight: 700;
   margin-right: 10px;
}
.benefits__items{
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.benefits__item{
   width: 31%;
   margin-bottom: 25px;
   border: 2px solid #3E64FF;
   border-radius: 6px;
   padding: 35px;
   cursor: pointer;
   transition: linear transform 0.1s;
   user-select: none;
}
.item__info{
   text-align: center;
}
.item__info p{
   font-size: 16px;
   font-weight: 700;
   margin-top: 10px;
   line-height: 19px;
}
.aboutCompany{
   padding-bottom: 100px;
}
.aboutCompany__text{
   margin-top: 40px;
}
.aboutCompany__text p{
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
   margin-bottom: 25px;
}
.aboutCompany__text p:last-child{
   margin-bottom: 0;
}
.itemClip{
   width: 53px;
   height: 53px;
   background-color: #3E64FF;
   position: absolute;
   border-radius: 0 6px 0 60px;
   top:0;
   right: 0;
   z-index: 9999;
}
.itemClip p{
   font-size: 14px;
   font-weight: 600;
   color: #fff;
   width: fit-content;
   margin-left: 20px;
   margin-top: 13px;
}

.categories__item:active, .brands__item img:active, .brands__btn:active .brands__btnText{
   transform: scale(0.9);
}
.benefits__item:active .item__info{
   transform: scale(0.9);
}

@media(hover: hover) and (pointer: fine){
   .categories__item:hover .item__hover{
      background-color: #3E64FF;
   }
   .brands__item:hover, .benefits__item:hover{
      transform: scale(1.1);
   }
   .brands__btn:hover .btn__items{
      color: #8F8F8F;
   }
   .brands__btn:hover .brandsArrow{
      transform: translateX(7px);
   }
}