body, html{
   overflow: hidden;
}
.file{
   cursor: pointer;
}
.fileBlock{
   position: relative;
   margin-bottom: 25px;
}
.fileBlock .file{
   margin-bottom: 0;
}
.addFileBtn{
   position: absolute;
   top: 10px;
   width: 20px;
   height: 20px;
   right: 10px;
   cursor: pointer;
   transition: transform 0.1s linear;
}
.fileBlock:active .addFileBtn{
   transform: scale(0.9);
}

@media(hover: hover) and (pointer: fine){
   .fileBlock:hover .addFileBtn svg path{
      fill: #3E64FF;
   }
}