.basket3__items p, .thanks__items p, .thanks__items a, .error__items p{
   margin-top: 40px;
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
}
 .thanks__items a{
   color: #3E64FF;
}
.basket3__items button, .thanks__items button, .error__items button{
   margin-top: 40px;
   width: 100%;
   max-width: 336px;
   height: 48px;
   border-radius: 6px;
   border: none;
   background-color: #3E64FF;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   line-height: 20px;
   cursor: pointer;
   transition: transform 0.1s linear;
   margin-bottom: 50px;
}
.basket3__wrapper, .thanks__wrapper, .error__wrapper{
   display: flex;
   flex-direction: column;
   height: 100vh;
}
.basket3__wrapperTop, .thanks__wrapperTop, .error__wrapperTop{
   flex: 1;
}
.basket1__labeles{
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
}
.basket1__labeles span{
   width: 17.5%;
}
.basket1__labeles span:first-child{
   width: 40%;
}
.basket1__labeles span:nth-child(2){
   width: 10%;
}
.basket1__labeles span:last-child{
   width: 15%;
}
.basket1__items{
   margin-top: 15px;
   border-top: 1px solid #8f8f8f;
   border-bottom: 1px solid #8f8f8f;
}
.basket1__item{
   padding: 25px 0;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px dashed #8f8f8f;
   align-items: center;
}
.basket1__item:last-child{
   border-bottom: none;
}
.basket1__itemInfo{
   width: 40%;
   display: flex;
}
.basket1__itemName{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 25px;
   margin-right: 10px;
}
.basket1__itemName a{
   font-size: 16px;
   font-weight: 500;
   line-height: 19px;
   color: #3E64FF;
}
.basket1__itemCode{
   background-color: #f5f5f5;
   height: 34px;
   width: fit-content;
   padding: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 200px;
   margin-top: 15px;
}
.basket1__itemCode p, .basket1__itemCode span{
   font-size: 14px;
   line-height: 17px;
}
.basket1__itemCode p{
   font-weight: 500;
   color: #8f8f8f;
}
.basket1__itemCode span{
   font-weight: 700;
   color: #000;
}
.basket1__price{
   width: 10%;
}
.basket1__price span{
   font-size: 16px;
   font-weight: 600;
   line-height: 40px;
}
.basket1__countAndMeasurement{
   width: 70%;
   display: flex;
   align-items: center;
}
.basket1__count{
   width: 50%;
   display: flex;
   align-items: center;
}
.basket1__count button{
   width: 34px;
   height: 34px;
   border-radius: 50%;
   border: none;
   background-color: #F5F5F5;
   cursor: pointer;
   font-size: 28px;
   font-weight: 500;
   color: #8f8f8f;
   transition: transform 0.1s linear;
}
.basket1__count span{
   font-size: 16px;
   font-weight: 600;
   margin: 0 3px;
   width: 55px;
   text-align: center;
}
.basket1__measurement{
   width: 50%;
   display: flex;
   justify-content: space-between;
   height: 40px;
   max-width: 130px;
   padding: 0 15px;
   border-radius: 6px;
   background-color: #f5f5f5;
   align-items: center;
   cursor: pointer;
   user-select: none;
   transition: transform 0.1s linear;
}
.basket1__measurement p{
   font-size: 14px;
   font-weight: 600;
   line-height: 24px;
}
.basket1__totalAndDelete{
   width: 30%;
   display: flex;
}
.basket1__itemTotalPrice{
   width: 70%;
}
.basket1__itemTotalPrice p{
   font-size: 20px;
   font-weight: 700;
   line-height: 40px;
}
.basket1__itemTotalPrice span{
   position: absolute;
   color: #ED6663;
   font-size: 14px;
   font-weight: 600;
   line-height: 26px;
   text-decoration: line-through;
}
.basket1__delete button{
   width: 34px;
   height: 34px;
   background-color: #f5f5f5;
   border-radius: 50%;
   border: none;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform 0.1s linear;
}
.basket1__totalPrice{
   margin-top: 25px;
   text-align: end;
   margin-right: 60px;
}
.basket1__totalPrice p{
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
}
.basket1__totalPrice span{
   font-size: 36px;
   line-height: 43px;
   margin-left: 15px;
}
.basket1__form{
   margin-top: 100px;
   max-width: 815px;
}
.basket1__formItem{
   margin-bottom: 100px;
}
.basket1__formItem h3{
   font-size: 28px;
   font-weight: 700;
   line-height: 24px;
}
.formItem__btns{
   width: 100%;
   display: flex;
   margin-top: 40px;
   background-color: #f5f5f5;
   border-radius: 6px;
   padding: 10px;
   gap: 10px;
}
.formItem__btns button{
   width: 50%;
   height: 48px;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   background-color: #fff;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform 0.1s linear;
}
.formItem__btns svg{
   margin-right: 10px;
}
.formItem__btns .formItem__activeBtn{
   background-color: #3E64FF;
   color: #fff
}
.formItem__btns .formItem__activeBtn svg path{
   fill: #fff;
}
.formItem__inputs{
   margin-top: 40px;
}
.formItem__inputs input, .formItem__inputs textarea{
   margin-bottom: 20px;
   width: 70%;
   height: 40px;
   background-color: #f5f5f5;
   border: none;
   border-radius: 6px;
   outline-color: #3E64FF;
   padding: 0 15px;
   font-size: 14px;
   font-weight: 600;
   line-height: 24px;
}
.formItem__inputs input::placeholder, .formItem__inputs textarea::placeholder{
   font-weight: 500;
   color: #8f8f8f;
}
#formItem__smallBtn{
   width: 33.3%;
}
#longInput{
   width: 100%;
}
.formItem__inputs input:last-child{
   margin-bottom: 0;
}
.formItem__inputs textarea{
   height: 120px;
   padding: 15px;
   resize: none;
   margin-bottom: 60px;
}
.formItem__checkbox{
   display: flex;
   user-select: none;
}
.formItem__checkbox input{
   width: 20px;
   height: 20px;
   background-color: unset;
   outline-color: unset;
   padding: unset;
   font-size: unset;
   font-weight: unset;
   line-height: unset;
   cursor: pointer;
}
.formItem__checkbox label{
   font-size: 13px;
   font-weight: 500;
   line-height: 20px;
   margin-left: 10px;
   cursor: pointer;
}
.formItem__checkbox a{
   color: #3E64FF;
}
.formItem__inputs button{
   margin-top: 40px;
   height: 48px;
   padding: 0 95px;
   border: none;
   border-radius: 6px;
   background-color: #3E64FF;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   line-height: 20px;
   cursor: pointer;
   transition: transform 0.1s linear;
}
.invalidInputBlock{
   width: 100%;
}
.basket1__right{
   display: flex;
   width: 50%;
}
.formItem__minBtn{
   display: none;
   justify-content: space-between;
   align-items: center;
   background-color: #f5f5f5;
   border-radius: 6px;
   padding: 0 14px;
   height: 40px;
   margin-top: 35px;
}
.formItem__minBtnLeft{
   display: flex;
   align-items: center;
}
.formItem__minBtnLeft p{
   margin-left: 10px;
   font-size: 14px;
   font-weight: 600;
   line-height: 20px;
}


.formItem__inputs input:focus, .formItem__inputs textarea:focus{
   background-color: #fff;
}

.basket3__items button:active, .thanks__items button:active, .error__items button:active, .basket1__count button:active, .basket1__measurement:active, .basket1__delete button:active, .formItem__btns button:active, .formItem__inputs button:active{
   transform: scale(0.9);
}

@media(hover: hover) and (pointer: fine){
   .basket3__items button:hover, .thanks__items button:hover, .error__items button:hover, .formItem__inputs button:hover{
      background-color: #1E90FF;
   }
   .thanks__items a:hover, .basket1__itemName a:hover, .formItem__checkbox a:hover{
      color: #1E90FF;
   }
   .basket1__count button:hover{
      background-color: #3E64FF;
      color: #fff;
   }
   .basket1__measurement:hover p{
      color: #8f8f8f;
   }
   .basket1__delete:hover{
      filter: brightness(95%);
   }
   .basket1__delete button:hover svg path{
      fill: red;
   }
   .formItem__btns button:hover{
      background-color: #3E64FF;
      color: #fff;
   }
   .formItem__btns button:hover svg path{
      fill: #fff;
   }
}

@media(max-width: 1023px){
   .basket1__price, .basket1__labeles{
      display: none;
   }
   .basket1__itemName a{
      height: 58px;
      overflow: hidden;
   }
   .basket1__itemInfo{
      width: 50%;
   }
   .basket1__countAndMeasurement{
      flex-direction: column-reverse;
      align-items: flex-end;
   }
   .basket1__count{
      justify-content: flex-end;
   }
   .basket1__countAndMeasurement, .basket1__totalAndDelete{
      width: 50%;
   }
   .basket1__count, .basket1__measurement{
      width: 100%;
   }
   .basket1__count{
      margin-top: 33px;
   }
   .basket1__totalAndDelete{
      flex-direction: column;
      align-items: flex-end;
   }
   .basket1__itemTotalPrice{
      width: 100%;
      text-align: end;
      margin-bottom: 33px;
      position: relative;
   }
   .basket1__itemTotalPrice span{
      bottom: -15px;
      right: 0
   }
   .basket1__itemTotalPrice p{
      font-size: 18px;
   }
   .basket1__totalPrice{
      margin-right: 0;
   }
   .basket1__totalPrice p{
      font-size: 18px;
   }
   .basket1__totalPrice span{
      font-size: 32px;
   }
   .basket1__form{
      max-width: unset;
   }
   .formItem__inputs input{
      width: 46.5%;
      margin-right: 20px;
   }
   .formItem__inputs input[type='checkbox']{
      width: 20px;
      margin-right: 0;
   }
   .basket1__formItem h3{
      font-size: 24px;
   }
   .basket1__formItem{
      margin-bottom: 60px;
   }
   .formItem__inputs button, .formItem__inputs textarea{
      width: 100%;
   }
}

@media(max-width: 750px){
   .basket3__items p, .thanks__items p, .error__items p{
      margin-top: 15px;
   }
   .basket3__items button, .thanks__items button, .error__items button{
      margin-top: 25px;
   }
   .basket1__item{
      display: block;
   }
   .basket1__itemInfo, .basket1__right{
      width: 100%;
      max-width: 420px;
   }
   .basket1__right{
      margin-top: 25px;
   }
   .basket1__countAndMeasurement{
      align-items: flex-start;
      flex-direction: column;
      margin-top: 3px;
   }
   .basket1__count{
      justify-content: flex-start;
      margin-top: 0;
      margin-bottom: 15px;
   }
   .basket1__itemTotalPrice{
      margin-bottom: 15px;
   }
   .basket1__itemCode{
      height: 27px;
   }
   .basket1__itemCode p, .basket1__itemCode span{
      font-size: 12px;
   }
   .basket1__itemTotalPrice p{
      font-size: 20px;
   }
   .basket1__itemName{
      margin-right: 0;
      margin-left: 5px;
   }
   .basket1__totalPrice p{
      font-size: 18px;
   }
   .basket1__totalPrice span{
      font-size: 28px;
   }
   .basket1__form{
      margin-top: 50px;
   }
   .formItem__minBtn{
      display: flex;
   }
   .formItem__btns{
      display: none;
   }
   .formItem__inputs{
      margin-top: 15px;
   }
   .formItem__inputs input{
      margin-bottom: 15px;
      width: 100%;
   }
   .formItem__inputs textarea{
      margin-bottom: 40px;
   }
   .formItem__inputs button{
      padding: 0;
   }
   .formItem__inputs input[type='checkbox']{
      margin-bottom: 0;
      min-width: 20px;
   }
   .formItem__checkbox{
      align-items: center;
   }
   .formItem__checkbox:first-child{
      margin-bottom: 15px;
   }
}