*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
}
body img, svg, button, input{
   user-select: none;
}
.wrapper{
   max-width: 1600px;
   margin: 0 auto;
   padding: 0 92px;
}
body{
   position: relative;
}
.overlay{
   position: absolute;
   top:0;
   left:0;
   right: 0;
   bottom: 0;
   background-color: #000;
   opacity: 0.5;
   z-index: 10000;
}
.overlayMenu{
   width: 35%;
   padding: 60px;
   background-color: #fff;
   position: absolute;
   top:0;
   height: 100vh;
   right: 0;
   z-index: 100000;
}
.hAndFWrapper{
   max-width: 1600px;
   margin: 0 auto;
}
.headerTop{
   display: flex;
   justify-content: space-between;
   padding: 0 92px;
   background-color: #F5F5F5;
   height: 40px;
   align-items: center;
}
.header p, .header a, .header button{
   font-size: 14px;
   font-weight: 700;
}
.headerTop__city{
   margin-right: 60px;
   display: flex;
   align-items: center;
}
.headerTop__city svg, .headerTop__btns button svg{
   margin-right: 8px;
}
.headerTop__city p{
   color: #3E64FF;
   cursor: pointer;
}
.headerTop__nav a{
   color: #000;
   text-decoration: none;
}
.headerTop__left{
   display: flex;
   align-items: center;
}
.headerTop__nav ul{
   display: flex;
   list-style: none;
}
.headerTop__nav ul li{
   margin-right: 30px;
}
.headerTop__nav ul li:last-child{
   margin-right: 0;
}
.headerTop__btns{
   display: flex;
}
.headerTop__btns button{
   padding: 4px 12px;
   border-radius: 90px;
   border: none;
   background-color: unset;
   cursor: pointer;
   display: flex;
   align-items: center;
}
.header .headerTop__btn1{
   background-color: #ED6663;
   color: #fff;
}
.headerTop__btn1{
   margin-right: 30px;
}
.headerBottom{
   align-items: center;
   margin-top: 25px;
   padding: 0 92px;
   display: flex;
   justify-content: space-between;
}
.headerBottom__logo, .headerBottom__search,.headerBottom__call{
   margin-right: 60px;
}
.headerBottom__logo{
   height: 48px;
   margin-top: 5px;
   cursor: pointer;
}
.headerBottom__catalog{
   margin-right: 25px;
}
.headerBottom__catalog button{
   height: 48px;
   border: none;
   border-radius: 6px;
   background-color: #3E64FF;
   padding: 0 23px;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   cursor: pointer;
   display: flex;
   align-items: center;
}
.headerBottom__catalog button svg{
   margin-right: 10px;
}
.headerBottom__search{
   flex: 1;
   position: relative;
}
.activeSearch{
   z-index: 100000;
}
.headerBottom__search input{
   width: 100%;
   height: 48px;
   border: none;
   background-color: #F5F5F5;
   padding-left: 20px;
   padding-right: 60px;
   border-radius: 6px;
   font-size: 14px;
   font-weight: 500;
   line-height: 24px;
   outline-color: #3E64FF;
}

.headerBottom__search::after{
   content: '';
   position: absolute;
   top: 12px;
   right: 20px;
   width: 24px;
   height: 24px;
   background-image: url(../img/header/headerSearch.svg);
   cursor: pointer;
}
.headerBottom__call, .footer__call{
   display: flex;
   flex-direction: column;
}
.headerBottom__call a:first-child{
   font-size: 18px;
   font-weight: 700;
   text-decoration: none;
   color: #000;
}
.headerBottom__call a:last-child, .footer__call a:last-child{
   color: #3E64FF;
   font-size: 14px;
   font-weight: 500;
}
.headerBottom__btns{
   display: flex;
}
.headerBottom__btns button{
   width: 48px;
   height: 48px;
   margin-right: 24px;
   border:none;
   background-color: #f5f5f5;
   border-radius: 50%;
   cursor: pointer;
   align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;
}
#headerBtnActive{
   background-color: #3E64FF;
   position: relative;
}
#headerBtnActive svg path{
   fill: #fff;
}
.topTitle{
   margin-top: 40px;
}
.topTitle p{
   font-size: 14px;
   font-weight: 400;
   line-height: 17px;
   color: #8f8f8f;
}
.topTitle span{
   margin: 0 10px;
}
.topTitle a{
   color: #000;
}
.topTitle h2{
   margin-top: 25px;
   font-size: 28px;
   font-weight: 700;
}
.categoriesTitle, .priceTitle, .brandsTitle, .producerTitle, .seriesTitle, .areaTitle{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
   cursor: pointer;
}
.categoriesTitle h3, .priceTitle h3, .brandsTitle h3, .producerTitle h3, .seriesTitle h3, .areaTitle h3{
   font-size: 16px;
   font-weight: 700;
}
.sortCategories p, .sortMenu label{
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   margin-bottom: 10px;
   cursor: pointer;
   width: fit-content;
}
.sortCategories a{
   margin-top: 15px;
   color: #3E64FF;
}
.sortCategories span,.sortPrice span, .sortBrands span{
   font-size: 14px;
   font-weight: 400;
   color: #8f8f8f;
   margin-left: 8px;
}
.sortPrice, .sortBrands, .sortProducer{
   margin-top: 40px;
}
.priceTitle h3, .brandsTitle h3{
   position: relative;
}
.priceTitle h3::after, .brandsTitle h3::after{
   content: '';
   width: 6px;
   height: 6px;
   position: absolute;
   top: 50%;
   right: -15px;
   background-image: url(../../img/menuTitle.svg);
   transform: translateY(-2px);
}
.priceInputs{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.priceInputs span{
   font-size: 25px;
}
.priceInputs input{
   width: 45%;
   height: 40px;
   border:none;
   border: 1px solid #8f8f8f;
   border-radius: 4px;
   padding: 0 15px;
   font-size: 14px;
   font-weight: 500;
}
.priceProgress{
   width:100%;
   height: 2px;
   background-color: #8f8f8f;
   margin: 35px 0;
   border-radius: 5px;
   position: relative;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progressActive{
   position: absolute;
   width: 55%;
   height: 2px;
   background-color: #3E64FF;
   left:20px;
   top:0;
}
.progressActiveLeftBtn, .progressActiveRightBtn{
   position: absolute;
   width: 20px;
   height: 20px;
   left:0;
   top:-10px;
   background-color: #fff;
   border-radius: 50%;
   border: 2px solid #3E64FF;
   cursor: pointer;
}

.progressActiveRightBtn{
   left: 55%;
}
.sortMenu input[type='checkbox']{
   width: 20px;
   height: 20px;
   border: 1px solid #8f8f8f;
   border-radius: 4px;
   cursor: pointer;
}
.check{
   display: flex;
}
.check label{
   margin-left: 12px;
}
.menuAcceptBtn{
   margin-top: 40px;
   width: 100%;
   height: 48px;
   background-color: #fff;
   color: #3E64FF;
   border: 1px solid #3E64FF;
   border-radius: 6px;
   font-size: 16px;
   font-weight: 700;
   cursor: pointer;
}
.dropFilterBtn{
   margin-top: 25px;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.dropFilterBtn p, .dropFilterBtn a{
   font-size: 14px;
   font-weight: 500;
   color: #8f8f8f;
}
.dropFilterBtn p{
   font-size: 25px;
   margin-right: 5px;
}
.cartBtnCount{
   position: absolute;
   top:-5px;
   right: -5px;
   background-color: #ED6663;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   font-weight: 600;
   color: #fff;
}
.headerBottom__btns button:last-child{
   margin-right: 0;
}
.footer{
   padding: 80px 92px;
   background-color: #F5F5F5;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}
.footer__arrow{
   position: absolute;
   top: -22px;
   right: 68px;
   z-index: 9999;
   width: 48px;
   height: 48px;
   background-color: #fff;
   box-shadow: 0px 22px 60px rgba(0, 0, 0, 0.11), 0px 8.47407px 19.1111px rgba(0, 0, 0, 0.0668148), 0px 1.79259px 4.88889px rgba(0, 0, 0, 0.0431852);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: linear transform 0.1s;
}
.footer__call{
   margin-bottom: 50px;
}
.footer__call a:first-child{
   text-decoration: none;
   color: #000;
   font-size: 28px;
   font-weight: 700;
   line-height: 50px;
   width: fit-content;
}
.footer__call a:nth-child(2){
   color: #3E64FF;
   font-size: 16px;
   font-weight: 500;
   line-height: 20px;
   width: fit-content;
}
.footer__call, .footer__nav,.footer__info{
   width: 33%;
}
.footer__nav ul{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}
.footer__nav ul li{
   width: 50%;
   margin-bottom: 25px;
}
.footer__nav a{
   font-size: 16px;
   font-weight: 600;
   color: #000;
   text-decoration: none;
}
.footer__info p, .footer__info a{
   font-size: 16px;
   font-weight: 500;
   line-height: 20px;
}
.footer__info a{
   color: #3E64FF;
}
.footer__info p:first-child{
   margin-bottom: 15px;
}
.footer__info p:last-child, .footer__info a:last-child{
   margin-top: 15px;
   color: #8F8F8F;
}
.contentWithMenu{
   display: flex;
   margin: 40px 0;
}
.sortMenu{
   background-color: #f5f5f5;
   padding: 25px;
   width: 25%;
   border-radius: 6px;
   height: fit-content;
}
.productsContent{
   flex: 1;
   margin-left: 25px;
}
.productsContent__filters{
   display: flex;
   justify-content: space-between;
}
.filter__left{
   display: flex;
   background-color: #F5F5F5;
   height: 40px;
   align-items: center;
   padding: 0 15px;
   cursor: pointer;
   border-radius: 6px;
   user-select: none;
}
.filter__left p{
   margin-right: 75px;
   font-size: 14px;
   font-weight: 600;
}
.filter__right{
   display: flex;
   background-color: #f5f5f5;
   height: 40px;
   border-radius: 6px;
   padding: 2px;
}
.filterBtn1, .filterBtn2{
   height: 36px;
   width: 36px;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.activeFilterBtn{
   background-color: #fff;
}
.activeFilterBtn svg path{
   fill: #3E64FF;
}
.bigBtn button{
   width: 100%;
   height: 48px;
   align-items: center;
   background-color: #F5F5F5;
   border: none;
   border-radius: 6px;
   cursor: pointer;
}
.bigBtn__items{
   display: flex;
   justify-content: center;
   align-items: center;
}
.bigBtn__items p{
   font-size: 16px;
   font-weight: 700;
   margin-right: 10px;
}
.bigBtnArrow, .pageNumbers svg, .bigBtnArrowBrands{
   transition: linear transform 0.1s;
}
.bigBtn:active .bigBtn__btnText{
   transform: scale(0.9);
}
.pageSettings{
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
   align-items: center;
   margin-bottom: 100px;
}
.pageNumbers{
   display: flex;
   align-items: center;
}
.pageNumbers a, .pageNumbers p{
   margin-right: 15px;
   font-size: 14px;
   font-weight: 600;
   text-decoration: none;
   color: #000;
}
.pageNumbers a{
   border-radius: 50%;
   height: 40px;
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pageNumbers svg{
   cursor: pointer;
}
.pageNumbersActive{
   border: 2px solid #3E64FF;
}
.pageNumbers__filter{
   display: flex;
   align-items: center;
   cursor: pointer;
}
.pageNumbers__filter p{
   font-size: 14px;
   font-weight: 600;
   margin-right: 10px;
}
.products__items{
   margin-top: 40px;
   display: flex;
   position: relative;
   padding: 10px;
   justify-content: space-between;
   overflow: hidden;
}
.products{
   position: relative;
}
.productsArrowLeft, .productsArrowRight{
   box-shadow: 0px 22px 60px rgba(0, 0, 0, 0.11), 0px 8.47407px 19.1111px rgba(0, 0, 0, 0.0668148), 0px 1.79259px 4.88889px rgba(0, 0, 0, 0.0431852);
   width: 48px;
   height: 48px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   z-index: 1000;
   cursor: pointer;
   background-color: #fff;
}
.productsArrowLeft{
   top:50%;
   left: -40px;
}
.productsArrowRight{
   top:50%;
   right: -40px;
}
.products__items .mainCatalogItem{
   min-width: 16.5%;
   width: 16.5%;
}
.menuCloseBtn, .overlayCloseBtn{
   width: 48px;
   height: 48px;
   background-color: #fff;
   border-radius: 50%;
   box-shadow: 0px 22px 60px rgba(0, 0, 0, 0.11), 0px 8.47407px 19.1111px rgba(0, 0, 0, 0.0668148), 0px 1.79259px 4.88889px rgba(0, 0, 0, 0.0431852);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   margin-right: 30px;
   cursor: pointer;
}
.overlayCloseBtn{
   margin: 0;
   position: absolute;
   top: 30px;
   right: 30px;
}
.overlayMenu__title h2{
   font-size: 28px;
   font-weight: 700;
}
.overlayMenu__inputs{
   margin-top: 40px;
}
.overlayMenu__inputs input, .overlayMenu__inputs textarea{
   width: 100%;
   margin-bottom: 25px;
   height: 40px;
   background-color: #f5f5f5;
   border: none;
   border-radius: 6px;
   padding: 0 15px;
   outline-color: #3E64FF;
   font-size: 14px;
   font-weight: 500;
   line-height: 24px;
} 
.overlayMenu__inputs textarea{
   height: 120px;
   padding: 10px 15px;
   resize: none;
}
.overlayMenu__checkbox{
   display: flex;
   align-items: center;
   margin-bottom: 15px;
}
.overlayMenu__checkbox input{
   width: 20px;
   height: 20px;
   margin-right: 10px;
   cursor: pointer;
}
.overlayMenu__checkbox label{
   font-size: 13px;
   font-weight: 500;
   cursor: pointer;
}
.overlayMenu__btn{
   margin-top: 40px;
}
.overlayMenu__btn button{
   height: 40px;
   padding: 0 23px;
   background-color: #3E64FF;
   color: #fff;
   border: none;
   border-radius: 6px;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
}
#invalidInput{
   border: 1px solid#ED6663;
   background-color: #fff;
}
#invalidInput::placeholder{
   color: #ED6663;
}
.topCategotyItems{
   margin-top: 40px;
   display: flex;
   flex-wrap: wrap;
}
.topCategotyItem{
   padding: 10px 15px;
   background-color: #f5f5f5;
   border-radius: 200px;
   margin-right: 15px;
   margin-bottom: 15px;
   cursor: pointer;
   color: #3E64FF;
}
.topCategotyItem p{
   font-size: 16px;
   font-weight: 500;
}
.headerBottom__search input:focus, .overlayMenu__inputs input:focus, .overlayMenu__inputs textarea:focus, .citySearch input:focus{
   background-color: #fff;
}

.headerBottom__catalog button:active, .headerTop__btns button:active, .headerBottom__btns button:active, .footer__arrow:active .footer__arrowImg, .productsArrowLeft:active, .productsArrowRight:active, .filter__left:active, .menuAcceptBtn:active, .menuCloseBtn:active, .overlayCloseBtn:active, .overlayMenu__btn button:active, .topCategotyItem:active{
   transform: scale(0.9);
}



@media(hover: hover) and (pointer: fine){
   .headerTop__city:hover p, .categoriesMore:hover, .footer__info a:nth-child(2):hover, .overlayMenu__checkbox label a:hover, .headerBottom__call a:last-child:hover, .footer__call a:last-child:hover{
      color: #1E90FF;
   }
   .headerTop__city:hover svg path{
      fill: #1E90FF;
   }
   .headerTop__nav a:hover, .headerBottom__call a:first-child:hover, .footer__call a:first-child:hover, .footer__nav a:hover, .pageNumbers a:hover, .pageNumbers__filter:hover,.bigBtn:hover .bigBtn__items,.topTitle a:hover, .filter__left:hover p, .sortCategories p:hover, .categoriesTitle:hover h3, .priceTitle:hover h3, .brandsTitle:hover h3, .producerTitle:hover h3, .seriesTitle:hover h3, .areaTitle:hover h3, .sortMenu label:hover{
      color: #8f8f8f;
   }
   .pageNumbers .pageNumbersActive:hover, .footer__info a:last-child:hover, .dropFilterBtn:hover a, .dropFilterBtn:hover p{
      color: #000;
   }
   .headerTop__btn1:hover{
      background-color: #F08080;
   }
   .headerTop__btn2:hover{
      background-color: #fff;
   }
   .headerBottom__catalog button:hover, .overlayMenu__btn button:hover{
      background-color: #1E90FF;
   }
   .footer__arrow:hover{
      transform: translateY(-5px);
   }
   .pageNumbers svg:hover{
      transform: translateX(5px);
   }
   .headerBottom__btns button:hover{
      background-color: #3E64FF;
   }
   .headerBottom__btns button:hover svg path{
      fill: #fff;
   }
   .menuAcceptBtn:hover, .topCategotyItem:hover{
      background-color: #3E64FF;
      color: #fff;
   }
   .filterBtn1:hover svg path, .filterBtn2:hover svg path{
      fill: #3E64FF;
   }
   .bigBtn:hover .bigBtnArrow{
      transform: translateY(3px);
   }
}