.mainCatalogItem{
   padding: 16px;
   cursor: pointer;
   position: relative;
}
.mainCatalogItem__img img{
   width: 100%;
   height: 100%;
}
.mainCatalogItem__name{
   margin-top: 10px;
   height: 80px;
}
.mainCatalogItem__name p{
   font-size: 16px;
   font-weight: 500;
   line-height: 19px;
}
.mainCatalogItem__priceInfo{
   margin-top: 10px;
}
.priceInfo__price{
   font-size: 20px;
   font-weight: 700;
   margin-right: 8px;
}
.priceInfo__discount{
   font-size: 14px;
   font-weight: 600;
   color: #ED6663;
   text-decoration: line-through;
}
.mainCatalogItem__btns{
   margin-top: 12px;
}
.btns__top{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.btns__amount button{
   width: 24px;
   height: 24px;
   border-radius: 50%;
   border: none;
   background-color: #F5F5F5;
   cursor: pointer;
   font-size: 18px;
   font-weight: 500;
}
.btns__amount span{
   font-size: 14px;
   font-weight: 600;
   margin: 0 3px;
}
.btns__inCart button{
   height: 40px;
   padding: 0 24px;
   background-color: #3E64FF;
   border-radius: 6px;
   border:none;
   cursor: pointer;
   font-weight: 600;
   font-size: 14px;
   color: #fff;
}
.btns__bottom{
   margin-top: 12px;
   visibility: hidden;
}
.btns__fastBuy button{
   width: 100%;
   height: 33px;
   background-color: #F5F5F5;
   border-radius: 6px;
   border: none;
   font-size: 14px;
   font-weight: 500;
   color: #3E64FF;
   cursor: pointer;
}
.mainCatalogItem__hoverBtns{
   position: absolute;
   top: 16px;
   right: 16px;
   display: flex;
   flex-direction: column;
   display: none;
}
.mainCatalogItem__hoverBtns img:first-child{
   margin-bottom: 10px;
}
.newCatalogItem::before{
   position: absolute;
   top: 16px;
   left: 16px;
   width: 76px;
   height: 21px;
   content: '';
   background-image: url(../img/products/productNew.png);
}
.discountCatalogItem::before{
   position: absolute;
   top: 16px;
   left: 16px;
   width: 66px;
   height: 21px;
   content: '';
   background-image: url(../img/products/productSale.png);
}

.mainCatalogItem__btns button:active, .mainCatalogItem__hoverBtns img:active{
   transform: scale(0.9);
}

@media(hover: hover) and (pointer: fine){
   .mainCatalogItem:hover{
      box-shadow: 0px 22px 60px rgba(0, 0, 0, 0.11), 0px 8.47407px 19.1111px rgba(0, 0, 0, 0.0668148), 0px 1.79259px 4.88889px rgba(0, 0, 0, 0.0431852);
   }
   .mainCatalogItem:hover .mainCatalogItem__hoverBtns{
      display: flex;
   }
   .mainCatalogItem:hover .btns__bottom{
      visibility: visible;
   }
}