body, html{
   overflow: hidden;
}
.fileBlock{
   margin-bottom: 25px;
   display: flex;
}
.fileItem{
   display: flex;
   border: 1px solid #8f8f8f;
   height: 40px;
   border-radius: 6px;
   padding: 0 10px;
   align-items: center;
   margin-right: 15px;
   cursor: pointer;
   transition: transform 0.1s linear;
}
.fileItem p{
   font-size: 14px;
   font-weight: 600;
   margin-right: 5px;
   white-space: nowrap;
}
.fileBlock button{
   height: 40px;
   width: 60px;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   background-color: #f5f5f5;
   transition: transform 0.1s linear;
}

.fileBlock:active .addFileBtn, .fileItem:active, .fileBlock button:active{
   transform: scale(0.9);
}

@media(hover: hover) and (pointer: fine){
   .fileBlock button:hover{
      background-color: #3E64FF;
   }
   .fileBlock button:hover svg path{
      fill: #fff;
   }
   .fileBlock:hover .addFileBtn svg path, .fileItem:hover svg path{
      fill: #3E64FF;
   }
}


@media(max-width: 750px){
   .fileItem{
      overflow: hidden;
      margin-right: 5px;
   }
   .fileItem p{
      overflow: hidden;
      text-overflow: ellipsis;
   }
}