.payment__items{
   margin-top: 40px;
   margin-bottom: 100px;
}
.payment__item{
   display: flex;
   margin-bottom: 40px;
}
.payment__itemText{
   margin-left: 20px;
   margin-top: 12px;
   max-width: 750px;
}
.payment__itemText h3{
   color: #3E64FF;
   font-size: 16px;
   font-weight: 600;
   line-height: 22px;
}
.payment__itemText p{
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
   margin-top: 30px;
}

